@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("/_imagens/radio-tv.png") no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    left: 574px ;
    top: 489px;
    width: 300px;
}
video#filme {
    display: block;
    position: relative;
    left: 60px;
    top: -80;
    width: 489px;
    height: 440px;

}
video#filme-index02 {
    display: block;
    position: relative;
    width: 250px;
    height: 270px;
    top: -50;
}
video#filme-index01 {
    display: block;
    position: relative;
    width: 580px;

}